body{
  margin: 20px;
  padding: 0;
  background-color: #000;
  color:white;
  text-align: center;
  font-size: 60px;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

button{
  padding: 15px 30px;
  font-size: 60px;
  font-weight: 600;
  border-radius: 30 px;
  cursor:pointer;
  transition: 0.3s;
  margin: 20px;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  line-height: normal;
  margin: 0;
  padding: 12px 24px;
  text-align: center;
}


.yepp-css{

  
    background-color: #ff3b3b ;
    border:  white ;
    
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 30 px;
    
  }

  .no-css{
    border-radius: 70 px;
    background-color: white  ;
    border: 2px  7CB9E8 ;
    color: black;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    line-height: normal;
    margin: 0;
    padding: 12px 24px;
    text-align: center;

  }
  


  .glow {
    position: relative;
    background: #ce72ff;
  }
  
  .glow:before, .glow:after {
    content: '';
    position: absolute;
    left: -1px;
    top: -1px;
    background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
      #0000ff, #00ff00,#ffff00, #ff0000);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: steam 20s linear infinite;
  }
  
  @keyframes steam {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .glow:after {
    filter: blur(50px);
  }

  .outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    }
    
    .middle {
    display: table-cell;
    vertical-align: middle;
    }
    
    .inner {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    /* Whatever width you want */
    }
    
    a {
    text-decoration: none;
    }
    